@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Rat Hotel System!</h1>

    <h2>The system contains @Model.AllHotels.Count Hotels.</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center"
<h1>Formatting testground</h1>
<p>
    <p><strong>Press the <span style="display: inline-block; background: #16643d; color: #fff; padding: 5px 15px; border-radius: 8px;">Clean</span>
    <h4> <a>hihihoho</a></h4>
</p>
